$lt-gray: #ddd;
$background-moredark:#036b79;
$background-dark: #028090;
$background-pale: #f0f3bd;
$background-light:#00a896;

@mixin zero-margin($pad-up-down, $pad-left-right){
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}
span{
    padding: 10px 10px 10px 10px;
}
.jumbotron{
    @include zero-margin(70px,30px);
    background: $background-light;
    color: floralwhite;
    min-height: 150px;
}
.active{
    background: $background-moredark;
}