
<div fxFlex class = "intro-card" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
    <div fxFlex.gt-sm="65%">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar></div>
                <mat-card-title class="center">
                  <h1>
                      A global company with a local focus
                  </h1>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                  <br/>
                  <span>At Bank of Westeros, we have a clear purpose to help make financial lives better through the power of every connection. We fulfill this purpose through our commitment to responsible growth, which includes a focus on environmental, social and governance (ESG) leadership. Integrated across our eight lines of business — our ESG focus reflects our values, ensures we are holding ourselves accountable, presents tremendous business opportunity, and allows us to create shared success with our clients and communities.
                  
                      Every day, we provide unmatched convenience in the United States, serving approximately 66 million consumer and small business clients. Bank of Westeros is a global leader in wealth management, corporate and investment banking and trading across a broad range of asset classes, serving corporations, governments, institutions and individuals around the world. The company serves clients through operations across the United States, its territories and more than 35 countries.
                  </span>
              </mat-card-content>
        </mat-card>
        
        </div>
    <div fxFlex.gt-sm="35%">
        <h3>Report Center</h3>
        <small style="color:blue">View a collection of reports, fact sheets and financial updates for more detailed information.</small>
    </div>
</div>
    

