<h1 class = "primary">We're here to help</h1>
<p>
    
In this challenging time, we continue to provide updates and support to our clients on our Client Resource Site.

Bank of Westeros is offering support to our consumer and small business clients through our Client Assistance Program. For those who need help making credit card, vehicle and/or home loan payments, you can submit an online request for a payment deferral.

Looking for information on the Economic Impact Payment for individuals and families? For the most up‑to‑date information including whether you're eligible for these 'stimulus checks', how you will get paid and when you will receive payment, visit IRS.gov/coronavirus.

Find digital solutions for other top trending client needs. Click links below....
</p>
