<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

<mat-card fxFlex class = "intro-card">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title class="center">
      <h3>Welcome to the worlds leading bank services</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="center">
        BOW provides you tonns of benefits and ease of user experience. 
      </div>
      <div class="col-md-4" *ngIf = "!loggedIn">
        Register now to learn more!
        <img src = "assets/images/arrow.jpg"  width = "100" height = "100">
        <a mat-button class="primary" (click) = "openRegForm()" width = "100" height = "200"><h3>Register Now!!</h3></a>

     </div>
    </div>
  </mat-card-content>
</mat-card>

<!-- <mat-card fxFlex class="reg-card">
  <mat-card-header>
    <div mat-card-avatar></div>
  </mat-card-header>
  <mat-card-content class="center">
    
  </mat-card-content>
</mat-card> -->

</div>